body {
    font-family: 'Courier New';
}

.inbox-table {
    border-collapse: collapse;
    width: 100%;
}

.inbox-table > thead > tr > th {
    border: solid 1px #aaa;
    background-color: #ddd;
    padding: 5px;
}

.inbox-table > tbody > tr > td {
    border: solid 1px #ccc;
    padding: 10px; 5px 10px 5px;
    vertical-align: top;
}

.delete-button {
    color: red;
}